<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
<a class="navbar-brand" href="/">Waterford School District</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
{% for item in site.data.links.docs %}
<li class="nav-item">
<a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
</li>
{% endfor %}
<li class="nav-item">
<a class="nav-link" href="https://github.com/wsdmi/wsdmi.github.io/issues/new?assignees=&labels=Suggestion&projects=&template=change-request.md&title=%3Cpage+name%3E+%3Cproblem+here%3E">Request changes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ page.path | prepend: 'https://github.com/wsdmi/wsdmi.github.io/blob/main/' }}">Edit this page</a>
</li>  
</ul>
</div>
</div>
</nav>