<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
<div id="app">
{% include nav.html %}
<br />
<div class="container">
<article>
<h1>{{ page.title }}</h1>
<br />
{{ content }}
</article>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
anchors.options = {
  placement: 'left',
  icon: '#'
};
anchors.add('h2,h3,h4,h5,h6');
</script>
</div>
</div>
</body>
</html>